@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background: #000;
}
body::before {
   content: "";
   position: absolute;
   left:0;
   top: 0;
   width: 100%;
   height: 100%;
   opacity: 0.5;
   background: url("images/images/hero-img.jpg"); 
   background-position: center; 
}
nav {
    position: fixed;
    z-index: 1;
    padding: 25px 60px;
}
nav a img {
    width: 160px;
}
.login-form {
    position: absolute ;
    left: 50%;
    top: 50%;
    width: 430px;
    padding: 60px;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.75);
    transform: translate(-50%, -50%);
}
.login-form h2{
    color: #fff;
    font-size: 2rem;
}
.login-form form{
    margin: 25px 0 65px;
}
form .form-item {
    position: relative;
    height: 50px;
    margin-bottom:  16px;
}
.form-item input {
    height: 100%;
    width: 100%;
    background: #333;
    outline: none;
    border: none;
    color: #fff;
    font-size: 1rem;
    border-radius: 4px;
    padding: 0 20px;
}
.form-item input:is(:focus, :valid){
    padding: 16px 20px 0;
    background: #444;
}
.form-item label{
    position: absolute;
    left: 20px;
    top: 50%;
    color: #8c8c8c;
    pointer-events: none;
    font-size: 1rem;
    transform: translateY(-50%);
    transition: all 0.1s ease;
}

.form-item input:is(:focus, :valid) ~ label {
    font-size: 0.75rem;
    transform: translateY(-130%);
}
form button{
    width: 100%;
    padding: 16px;
    font-size: 1rem;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    font-weight: 500;
    border-radius: 4px;
    background: #e50914;
    margin: 25px 0 10px;
    transition: 0.1sec ease;
}
form button:hover {
    background: #c40812;
}
form .form-help {
    display: flex;
    justify-content: space-between;
}
form .remember-me {
    display: flex;
}
form .remember-me input {
    margin-right: 5px;
    accent-color: #b3b3b3;
}
form .form-help :where(label, a) {
      font-size: 0.9rem;
}
.login-form :where(label, p, small, a) {
    color: #b3b3b3;
}
.login-form p a{
    color: #fff;
}
.login-form small{
    display: block;
    margin: 15px;
}
.login-form small a{
    color: #0071eb;
}
.login-form a {
    text-decoration: none;
}
.login-form a:hover{
    text-decoration: underline;
}

@media (max-width: 740px) {
    body::before {
        display: none;
    }
    nav, .login-form {
        padding: 20px;
    }
    nav a img {
        width: 140px;
    }
    .login-form {
        top: 43%;
        width: 100%;
    }
    .login-form form {
        margin: 25px 0 40px;
    }
}